<p>
	<label for="preg" class="rem">Pregunta: </label>
	<input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>" />
</p>
<p>
	<label for="resp" class="rem">Respuesta: </label>
	<input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>" />
</p>
<p>
	<label for="tema" class="rem">Tema: </label>
	<select name="tema" id="tema" name="quiz[tema]">
	  <option value="otro" <%= "otro" === quiz.tema ? "selected" : "" %>>Otro</option>
	  <option value="humanidades" <%= "humanidades" === quiz.tema ? "selected" : "" %>>Humanidades</option>
	  <option value="ocio" <%= "ocio" === quiz.tema ? "selected" : "" %>>Ocio</option>
	  <option value="ciencia" <%= "ciencia" === quiz.tema ? "selected" : "" %>>Ciencia</option>
	  <option value="tecnologia" <%= "tecnologia" === quiz.tema ? "selected" : "" %>>Tecnología</option>
	</select>
</p>
<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Salvar">