<div class="col-lg-12">
    <h2 class="page-header">Preguntas </h2>
</div>
<div class="search-form">
    <form method="get" action="/quizes">
        <div class="input-group">
            <input type="text" placeholder="Buscar..." name="search" class="form-control input-lg">
            <div class="input-group-btn">
                <button class="btn btn-lg btn-primary" type="submit">
                    Buscar
                </button>
            </div>
        </div>
    </form>
</div>
<div class="container-fluid">
  <div class="row">
    <ul class="list-group">
      <% var i; for(i=0; i<quizes.length; i++) { %>
        <li class="list-group-item">
          <span class="badge"><%= quizes[i].tema %></span>
          <a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a>
          <% if(session.user) { %>
            <a class="btn btn-primary" href="quizes/<%= quizes[i].id %>/edit">
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> editar
            </a>
            <form class="quize-remove-form" method="post" action="/quizes/<%= quizes[i].id %>?_method=delete">
              <button  class="btn btn-danger" type="submit" onClick="confirm('Borrar: <%= quizes[i].pregunta %>');"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> borrar
              </button>
            </form>
          <% } %>
        </li>
      <% } %>
    </ul>
  </div>
  <% if(session.user) { %>
      <a class="btn btn-primary" href="/quizes/new">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Crear pregunta
      </a>
  <% } %>
</div>