<h2>Estadísticas</h2>
<table>
	<tr><th>El número de preguntas:</th>
		<td><%= statistics.questions %></td></tr>
	<tr><th>El número de comentarios totales:</th>
		<td><%= statistics.comments %></td></tr>
	<tr><th>El número medio de comentarios por pregunta:</th>
		<td><%= statistics.averageCperQ %></td></tr>
	<tr><th>El número de preguntas sin comentarios:</th>
		<td><%= statistics.withoutComments %></td></tr>
	<tr><th>El número de preguntas con comentarios:</th>
		<td><%= statistics.withComments %></td></tr>
</table>